{% extends 'base.html' %}
{% block style %}
    <style>


        .breadcrumb {
            margin-left: 4%;
            background-color: burlywood;
            height: 0;
        }

        .jjj {
        {#border-width: 250px;#} padding-left: 30%;
            margin-top: 0;
            border-style: solid;
            border-color: azure;
        }

        .yyy {
        {#background-color: darkgray;#} float: right;
            padding-left: 195px;
            padding-bottom: 0;
            font-size: 16px;
        }

        .image_title {
            float: left;
            margin-top: 0;
        }

        .form-left {
            margin-left: -10px;
        }

        .form-right {
            position: absolute;
            top: 81px;
            right: 165px;
        }

    </style>
{% endblock style %}

{% block col-8 %}
    <div class="col-md-8">
{#        <ul class="nav nav-tabs">#}
{#            <li role="presentation"><a href=/log_in>学籍信息</a></li>#}
{#            <li role="presentation"><a href=/my_info>个人信息</a></li>#}
{#            <li role="presentation"><a href=/my_lesson>我的课程</a></li>#}
{#            <li role="presentation" class="active"><a href="#">我的成绩</a></li>#}
{#        </ul>#}
  <ul class="nav nav-tabs">
    <li><a href=/log_in>学籍信息</a></li>
    <li><a href=/my_info>个人信息</a></li>
    <li><a href=/my_lesson>我的课程</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
        我的成绩 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href=/grade1718>16-17学年</a></li>
        <li><a href=/grade1718>17-18学年</a></li>
        <li><a href=/grade1819>18-19学年</a></li>
        <li><a href=/grade1920>19-20学年</a></li>
        <li class="divider"></li>
        <li><a href=/my_grades>总览</a></li>
      </ul>
    </li>

  </ul>
        <h4>18-19学年成绩</h4>
        <div class="jjj">
            {#个人信息框#}


            <table class="table table-hover" style="margin-left: -250px">


                <thead>
                <tr>
                    <th>课程编号</th>
                    <th>课程名称</th>
                    <th>课程属性</th>
                    <th>课程学分</th>
                    <th>成绩</th>
                    <th>结果</th>
                    <th>未通过原因</th>
                </tr>
                </thead>
                <tbody>
                {% for i in grade %}
                    {% if i.lesson_name.lesson_data == '18-19' %}
                    <tr>
                    <td>{{ i.lesson_name.lesson_id }}</td>
                        <td>{{ i.lesson_name }}</td>
                    {% if i.lesson_name.is_default %}
                        <td>必修</td>
                    {% else %}
                    <td>选修</td>
                    {% endif %}
                        <td>{{ i.lesson_name.lesson_score }}</td>
                        <td>{{ i.grade }}</td>
                        <td>{% if i.grade >= 60 %}
                            通过
                        {% else %}
                            未通过
                        {% endif %}
                        </td>
                        <td>{% if i.grade < 60 %}
                            成绩低于60分
                        {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% for i in student %}
    <p><h5><b style="color: cornflowerblue">{{i.student_go_school_year}}级{{i.student_major}}人才培养方案完成情况</b></h5></p>
    {% endfor %}
    <HR align=center width=100% color=blue SIZE=1>
    <p><b>学期总学分： {{ sum }}</b></p>
    <p><b>已获得学分： {{ sum1 }}</b></p>
    <p><b>通过总门数： {{ m }}</b></p>
    <p><b>未通过门数： {{ k }}</b></p>
    <HR align=center width=100% color=blue SIZE=1>
    <div></div>
    </div>
{% endblock col-8 %}
